/CelsiusF.class
/EquacaoLinear.class
/EventoSegundos.class
/FarehCelsius.class
/IdadeAnosMesesDias.class
/IdadeDias.class
/InteirosPositivos.class
/PontoPlanos.class
/mediaPonderada.class
/valorCarro.class
/anoNascimento.class
/SorteiroDuplas.class
